static/plugins/** linguist-vendored
static/dist/** linguist-vendored
static/* linguist-vendored
static/build/** linguist-vendored
static/dist/** linguist-vendored
static/docs/** linguist-vendored
static/pages/** linguist-vendored
static/scripts/** linguist-vendored